:root {
  --white: #ffffffff;
  --rich-black: #00171fff;
  --prussian-blue: #003459ff;
  --cerulean: #007ea7ff;
  --picton-blue: #00a8e8ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

#corner-logo {
  position: fixed;
  top: 20px;
  left: 75px;
  font-size: 2em;
  color: var(--white);
  z-index: 10;
  font-weight: 700;
}

#img-conteiner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6%;
  gap: 35px;
}

#img {
  display: flex;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

#img h3 {
  color: white;
}

#img a {
  text-decoration: none;
}

#img:hover {
  transform: scale(1.2);
  font-size: 20px;
}

.imagen {
  border: 2px solid white;
}

@media (max-width: 1000px) {
  #corner-logo {
    display: block; /* mostra o logo no celular */
    opacity: 1; /* deixa visível */
    font-size: 1.5em; /* reduz o tamanho para caber melhor */
    top: 20px; /* ajusta posição */
    left: 30px; /* aproxima da borda */
  }
  #img-conteiner {
    flex-direction: row; /* Empilha os elementos verticalmente */
    flex-wrap: wrap;
    height: auto; /* Ajusta a altura para caber o conteúdo */
    padding: 20px; /* Reduz o padding lateral */
    gap: 20px; /* Diminui o espaço entre os itens */
    margin-top: 35%;
  }

  #img {
    justify-content: center; /* Centraliza cada bloco */
    padding: 10px;
  }

  .imagen {
    width: 70px; /* Reduz o tamanho da imagem */
    height: auto;
  }

  #img h3 {
    font-size: 16px; /* Ajusta o tamanho do texto */
  }
}
