* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffffff;
  --rich-black: #00171fff;
  --prussian-blue: #003459ff;
  --cerulean: #007ea7ff;
  --picton-blue: #00a8e8ff;
  --preto: #000;
}

body {
  background: var(--preto);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  font-size: 35px;
  color: var(--white);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin: 0 10px;
  font-size: 16px;
}

.nav li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 540;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.1s;
}

.nav li:hover a {
  color: var(--cerulean);
}

.search {
  position: relative;
  width: 300px;
  height: 46px;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
  outline: none;
  border-radius: 4px;
  padding: 0 14px 0 45px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: var(--white);
}

.search i {
  position: absolute;
  top: 15%;
  left: 3.5%;
  transform: rotateY(-50%);
  padding-right: 5px;
  color: var(--white);
  font-size: 25px;
}

#autocomplete-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 320px;
  margin-top: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
}

#autocomplete-list div {
  padding: 8px;
  cursor: pointer;
}
#autocomplete-list div:hover {
  background: #f3f4f6;
}

.carousel-indicators img {
  width: 120px;
  display: block;
}

.carousel-indicators button {
  width: max-content !important;
}

.carousel-indicators {
  position: absolute;
  top: 430px;
  left: 36%;
  transform: translateX(-50%);
  z-index: 2;
}

.carousel-indicators button.active img {
  border: 3px solid var(--prussian-blue);
}

.carousel-control-prev {
  left: 1px;
  width: 100px;
}

.carousel-control-next {
  right: 1px;
  width: 100px;
}

.carousel-caption {
  position: absolute;
  top: 230px;
  left: 150px;
  text-align: left;
  padding: 15px;
  border-radius: 8px;
  max-width: 40%;
}

button {
  background-color: #000;
  color: #ccc;
  border: 1px solid var(--white);
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card01 {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 220px;
}

.card01 img {
  height: 220px;
  cursor: pointer;
}

.conteudo {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s ease, padding 0.5s ease;
  padding: 0;
}

.card01:hover .conteudo {
  max-width: 619px;
  padding: 10px;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  border-radius: 8px;
  position: relative;
}

.modal-content h1,
label {
  color: black;
}

.modal-content span {
  font-size: 30px;
  color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

h2 {
  color: var(--white);
}

.estrelas {
  display: flex;
  flex-direction: row;
}

.estrelas i {
  font-size: 30px;
  margin: 2%;
}

.continuar {
  background-color: red;
  color: var(--white);
  padding: 8px;
  border: 1px solid var(--preto);
  border-radius: 40px;
}

/*  */

.wrapper {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposito {
  height: 400px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.card-deposito {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 1s cubic-bezier(0.28, -0.03, 0, 0.8);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card-deposito > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card-deposito > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-deposito > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #b0b0ba;
  padding: 5px;
}

.description h4 {
  text-transform: uppercase;
}

.card-deposito:hover {
  width: 600px;
}

.card-deposito:hover .description {
  opacity: 1 !important;
  transform: translate(0) !important;
}

/*  */


/* Estilos do footer */
.footer {
  background-color: #111;
  padding: 40px 20px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Logo e descrição */
.footer-logo {
  flex: 1 1 250px;
  margin-bottom: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 95%;
}

.footer-logo p {
  font-size: 14px;
  margin-right: 40%;
}

/* Redes sociais */
.footer-social {
  width: 20%;
  margin-bottom: 20px;
}

.footer-social h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-social a {
  display: block;
  margin-bottom: 8px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #e50914; /* Cor de destaque ao passar o mouse */
}

/* Copyright */
.footer-copy {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

h2 {
  font-weight: 800;
  letter-spacing: 1px;
  margin: 2.5%;
}

video{
  width: 100%;
  height: auto;
}

/*  */

.imagen01 {
  background-image: url("./Horizontal/ecos\ do\ passado.png");
}

.imagen02 {
  background-image: url("./Horizontal/Ethernal\ sunshine\ of\ the\ spotless\ mind.png");
}

.imagen03 {
  background-image: url("./Horizontal/malcon\ e\ marie.png");
}

.imagen04 {
  background-image: url("./Horizontal/ritmo\ da\ manha.png");
}

.imagen05 {
  background-image: url("./Horizontal/offline\ para\ sempre.png");
}

.imagen06 {
  background-image: url("./Horizontal/baba\ em\ apuros.png");
}

.imagen07 {
  background-image: url("./Horizontal/entre\ nos.png");
}

.imagen08 {
  background-image: url("./Horizontal/novos\ mutantes.png");
}

.imagen09 {
  background-image: url("./Horizontal/clique\ errado.png");
}

.imagen10 {
  background-image: url("./Horizontal/365\ Razoes\ pra\ você\ ficar.png");
}

.imagen11 {
  background-image: url("./Horizontal/Como\ perder\ um\ homem\ em\ 10\ dias.png");
}

.imagen12 {
  background-image: url("./Horizontal/coherence.png");
}

.imagen13 {
  background-image: url("./Horizontal/querido\ menino.png");
}

.imagen14 {
  background-image: url("./Horizontal/sonho\ de\ liberdade.png");
}

.imagen15 {
  background-image: url("./Horizontal/pesadelo\ noturno.png");
}

.imagen16 {
  background-image: url("./Horizontal/o\ video.png");
}

.imagen17 {
  background-image: url("./Horizontal/o\ homen\ invisivel.png");
}

.imagen18 {
  background-image: url("./Horizontal/o\ protetor.png");
}

.imagen19 {
  background-image: url("./Horizontal/luzes\ que\ não\ entram.png");
}

.imagen20 {
  background-image: url("./Horizontal/reflexo\ mortal.png");
}

.imagen21 {
  background-image: url("./Horizontal/dormir\ de\ olhos\ abertos.png");
}

.imagen22 {
  background-image: url("./Horizontal/jantar\ caotico.png");
}

.imagen23 {
  background-image: url("./Horizontal/fragmentados.png");
}

.imagen24 {
  background-image: url("./Horizontal/Nobody.png");
}
