* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffffff;
  --rich-black: #00171fff;
  --prussian-blue: #003459ff;
  --cerulean: #007ea7ff;
  --picton-blue: #00a8e8ff;
  --preto: #000;
}

body {
  background: var(--preto);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  font-size: 35px;
  color: var(--white);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
}

.nav {
  display: flex;
}

.nav li {
  list-style: none;
  margin: 0 10px;
  font-size: 16px;
}

.nav li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 540;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.1s;
}

.nav li:hover a {
  color: var(--cerulean);
}

.search {
  position: relative;
  width: 300px;
  height: 46px;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
  outline: none;
  border-radius: 4px;
  padding: 0 14px 0 45px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: var(--white);
}

.search i {
  position: absolute;
  top: 15%;
  left: 3.5%;
  transform: rotateY(-50%);
  padding-right: 5px;
  color: var(--white);
  font-size: 25px;
}

#autocomplete-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 320px;
  margin-top: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
}

#autocomplete-list div {
  padding: 8px;
  cursor: pointer;
}
#autocomplete-list div:hover {
  background: #f3f4f6;
}

.carousel-indicators img {
  width: 120px;
  display: block;
}

.carousel-indicators button {
  width: max-content !important;
}

.carousel-indicators {
  position: absolute;
  top: 430px;
  left: 36%;
  transform: translateX(-50%);
  z-index: 2;
}

.carousel-indicators button.active img {
  border: 3px solid var(--prussian-blue);
}

.carousel-control-prev {
  left: 1px;
  width: 100px;
}

.carousel-control-next {
  right: 1px;
  width: 100px;
}

.carousel-caption {
  position: absolute;
  top: 250px;
  left: 150px;
  text-align: left;
  padding: 15px;
  border-radius: 8px;
  max-width: 40%;
}

button {
  background-color: #000;
  color: #ccc;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card01 {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 220px;
}

.card01 img {
  height: 220px;
  cursor: pointer;
}

.conteudo {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s ease, padding 0.5s ease;
  padding: 0;
}

.card01:hover .conteudo {
  max-width: 619px;
  padding: 10px;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  border-radius: 8px;
  position: relative;
}

.modal-content h1,
label {
  color: black;
}

.modal-content span {
  font-size: 30px;
  color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

h2 {
  color: var(--white);
}

.estrelas{
  display: flex;
  flex-direction: row;
}

.estrelas i {
  font-size: 30px;
  margin: 2%;
}

.continuar{
  background-color: red;
  color: var(--white);
  padding: 8px;
  border: 1px solid var(--preto);
  border-radius: 40px;
}
